version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: app-mysql
    restart: always
    env_file:
      - ./.env
    ports:
      - "3304:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network

  backend:
    image: app-backend:latest
    container_name: app-backend
    restart: always
    depends_on:
      - mysql
    env_file:
      - ./backend/.env
    ports:
      - "5004:5000"
    networks:
      - app-network

  frontend:
    image: app-frontend:latest
    container_name: app-frontend
    restart: always
    depends_on:
      - backend
    env_file:
      - ./frontend/.env
    ports:
      - "84:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mysql-data:
