@import "tailwindcss";

@layer base {
  html {
    font-family: "Sky Text", ui-sans-serif, system-ui, sans-serif;
  }
}

.fc .fc-homeButton-button {
  @apply px-4 py-2 bg-indigo-500 text-white rounded hover:bg-indigo-600 transition duration-300 flex items-center gap-2 border-0;
}

.fc .fc-event-main {
  @apply bg-violet-500
}

.fc .fc-timegrid-col-frame {
  @apply bg-sky-50
}