@import "tailwindcss";

@layer base {
  html {
    font-family: "Sky Text", ui-sans-serif, system-ui, sans-serif;
  }
}

.fc .fc-homeButton-button {
  @apply bg-indigo-500 text-white text-sm px-3 py-1 rounded shadow hover:bg-indigo-600;
}